.container
    .row
        .span12#panel-main
            .content
                %h2 Our Core Values
                .row
                    .span3
                        %blockquote.lead Knowledge
                        %blockquote.lead Conscientiousness
                        %blockquote.lead Respect
                        %blockquote.lead Compassion
                        %blockquote.lead Integrity
                    .span9
                        %br
                        %br
                        %p.lead.center
                            These five values will inform and inspire
                            %br everything we do at Prodeo Academy.
                        %br
                        %p In Latin, Prodeo means "to advance" or "go forward", and at Prodeo Academy, we believe in the growth of the whole person.
                        %p It is extremely important to prepare our students for success in school, as well as in their personal and future professional life. Building a foundation together with families, Prodeo Academy students and staff honor and embrace a learning environment founded upon five core values.
