.container
    .row
        .span12#panel-main
            .content
                %h2 The Prodeo Academy Mission
                .row
                    .span6
                        %p.center.lead
                            %i
                                Prodeo Academy is a college
                                %br
                                preparatory school that prepares
                                %br
                                students to be critical thinkers
                                %br
                                and intelligent leaders, expanding
                                %br
                                their opportunities to contribute
                                %br
                                positively and productively to society.
                    .span6
                        %img{:src => "/assets/placeholders/nine.jpg"}
                        %br
                        %br
