.container
    .row
        .span12#panel-main
            .content
                %h2 Our Vision
                .row
                    .span5
                        %p.center.lead
                            %i
                                Prodeo Academy implements
                                %br
                                best practices from across the
                                %br
                                country to close the achievement gap.
                        %p.center.lead
                            %i
                                Prodeo Academy offers
                                %br
                                rigorous academics and
                                %br
                                individualized instruction in a
                                %br
                                joyful learning environment.
                        %p.center.lead
                            %i
                                Through this structure and
                                %br
                                culture, our students will experience
                                %br
                                a college preparatory education
                                %br
                                and gain the tools to realize
                                %br
                                their full potential in life.
                    .span7
                        %img{:src => asset_path('approach/vision.jpg')}
