.container
    .row
        .span12#panel-main
            .content
                %h2 Our Vision
                .row
                    .span5
                        %p.center.lead
                            %i
                                Prodeo Academy implements best practices
                                from across the country to close the achievement gap.
                                %br
                                %br
                                Prodeo Academy offers rigorous academics and individualized
                                instruction in a joyful learning environment.
                                %br
                                %br
                                Through this structure and culture, our students will
                                experience a college preparatory education and gain
                                the tools to realize their full potential in life.
                    .span7
                        %img{:src => "/assets/placeholders/one.jpg"}
