.container
    .row
        .span12.panel#panel-main
            .content
                %h2 Community Meetings
                %p Every Friday, the students and staff gather in the gym from 12:20pm-12:50pm for Community Meeting to celebrate the week.
                %p Parents and visitors are always welcome to attend.
                %h3 Spirit Stick
                %p The highlight of the meeting is the awarding of the Spirit Stick. It is awarded to the student whose actions during the week best embodied the Prodeo Academy values.
                %p This scholar proudly keeps the Spirit Stick in his or her classroom during the week and passes it on at the next Community Meeting.
                %h3 January Winners
                .row
                    .span12
                        %ul.thumbnails
                            %li.span3
                                .thumbnail
                                    %img{:src => asset_path('student_life/winners/jan/1.jpg')}
                                    .caption
                                        %h4 Sarah
                            %li.span3
                                .thumbnail
                                    %img{:src => asset_path('student_life/winners/jan/2.jpg')}
                                    .caption
                                        %h4 Frida
                %h3 December Winners
                .row
                    .span12
                        %ul.thumbnails
                            %li.span3
                                .thumbnail
                                    %img{:src => asset_path('student_life/winners/dec/1.jpg')}
                                    .caption
                                        %h4 Kaleb
                            %li.span3
                                .thumbnail
                                    %img{:src => asset_path('student_life/winners/dec/2.jpg')}
                                    .caption
                                        %h4 Arianna
                            %li.span3
                                .thumbnail
                                    %img{:src => asset_path('student_life/winners/dec/3.jpg')}
                                    .caption
                                        %h4 Damiyah
                %h3 November Winners
                .row
                    .span12
                        %ul.thumbnails
                            %li.span3
                                .thumbnail
                                    %img{:src => asset_path('student_life/winners/nov/1.jpg')}
                                    .caption
                                        %h4 Rayquan
                            %li.span3
                                .thumbnail
                                    %img{:src => asset_path('student_life/winners/nov/2.jpg')}
                                    .caption
                                        %h4 Maurice
                            %li.span3
                                .thumbnail
                                    %img{:src => placehold(300, 400)}
                                    .caption
                                        %h4 Alan
