.container
    .row
        .span12#panel-main
            .content
                %h2 Community Meetings
                %p We celebrate our values each week at our Community Meeting.  Parents and visitors are always invited to attend.  Come and see our values in action.
                %p.lead Spirit Stick
                %p Each week, we choose one scholar who embodies the values of the week.  Meet our Spirit Stick Winners
                %h3 January Winners
                .row
                    .span12
                        %ul.thumbnails
                            %li.span3
                                .thumbnail
                                    %img{:src => asset_path('student_life/winners/jan/1.jpg')}
                                    .caption
                                        %h4 Sarah Martinez
                %h3 December Winners
                .row
                    .span12
                        %ul.thumbnails
                            %li.span3
                                .thumbnail
                                    %img{:src => asset_path('student_life/winners/dec/1.jpg')}
                                    .caption
                                        %h4 Arianna Mwansa
                            %li.span3
                                .thumbnail
                                    %img{:src => asset_path('student_life/winners/dec/2.jpg')}
                                    .caption
                                        %h4 Damiyah Willis
                %h3 November Winners
                .row
                    .span12
                        %ul.thumbnails
                            %li.span3
                                .thumbnail
                                    %img{:src => asset_path('student_life/winners/nov/1.jpg')}
                                    .caption
                                        %h4 Rayquan Gary
                            %li.span3
                                .thumbnail
                                    %img{:src => asset_path('student_life/winners/nov/2.jpg')}
                                    .caption
                                        %h4 Maurice McLaurin
                            %li.span3
                                .thumbnail
                                    %img{:src => "//placehold.it/300x400"}
                                    .caption
                                        %h4 Alan Romero-Valero
