.container
    .row
        .span12#panel-main
            .content
                %h2 School Calendar
                .row
                    .span8
                        %p.lead Important dates
                        %table.table.table-bordered.table-striped.table-hover
                            %thead
                                %th{:width => "175px"} Day
                                %th Description
                            %tbody
                                %tr
                                    %td Monday, June 17th, 2013
                                    %td
                                        Lottery -
                                        %a{:href => "#lottery-info", :data => {:toggle => "modal"}} Click for lottery information
                                %tr
                                    %td July, 2013
                                    %td Student and Family Orientation
                                %tr
                                    %td August 22, 2013
                                    %td Kindergarten Orientation begins. Kindergarteners have half days on August 22nd through August 30th.
                                %tr
                                    %td June 19, 2014
                                    %td Last day of school
                    .span4
                        %img{:src => asset_path('student_life/calendar.jpg')}
#lottery-info.modal.hide.fade
    .modal-header
        %button.close{:type => "button", :data => {:dismiss => "modal"}} x
        %h3 Lottery Information
    .modal-body
        %p Kindergarten admission to Prodeo Academy is determined through a randomized lottery if the number of applicants exceeds the number of openings. A pre-determined number of spaces is determined each year based on the school’s capacity.
        %p The admission process is conducted through a randomized selection protocol until all lottery selections have been confirmed, at which point a wait list is maintained. The wait list is then in effect for the duration of the school year.
        %p Once the wait list has been exhausted, open seats are filled on a first-come first-served basis.
