.container
    .row
        .span12.panel#panel-main
            .content
                %h2
                    School Calendar
                    %small.pull-right
                        %br
                        %a{:href => asset_path("calendar_1617.pdf")} Download PDF Calendar
                .row-fluid
                    .span6
                        %img{:src => asset_path("student_life/calendar/16-08.png")}
                        %br
                        %br
                        %img{:src => asset_path("student_life/calendar/16-10.png")}
                    .span6
                        %img{:src => asset_path("student_life/calendar/16-09.png")}
                        %br
                        %br
                        %img{:src => asset_path("student_life/calendar/16-11.png")}
                %br
                .row-fluid
                    .span6
                        %img{:src => asset_path("student_life/calendar/16-12.png")}
                        %br
                        %br
                        %img{:src => asset_path("student_life/calendar/17-02.png")}
                    .span6
                        %img{:src => asset_path("student_life/calendar/17-01.png")}
                        %br
                        %br
                        %img{:src => asset_path("student_life/calendar/17-03.png")}
                %br
                .row-fluid
                    .span6
                        %img{:src => asset_path("student_life/calendar/17-04.png")}
                        %br
                        %br
                        %img{:src => asset_path("student_life/calendar/17-06.png")}
                    .span6
                        %img{:src => asset_path("student_life/calendar/17-05.png")}

-#lottery-info.modal.hide.fade
    .modal-header
        %button.close{:type => "button", :data => {:dismiss => "modal"}} x
        %h3 Lottery Information
    .modal-body
        %p Kindergarten admission to Prodeo Academy is determined through a randomized lottery if the number of applicants exceeds the number of openings. A pre-determined number of spaces is determined each year based on the school’s capacity.
        %p The admission process is conducted through a randomized selection protocol until all lottery selections have been confirmed, at which point a wait list is maintained. The wait list is then in effect for the duration of the school year.
        %p Once the wait list has been exhausted, open seats are filled on a first-come first-served basis.
