.container
    .row
        .span12.panel#panel-main
            .content
                %h2 School Calendar
                .row-fluid
                    .span8
                        %p
                            %span.label.label-success No school for scholars, staff have professional development (PD)
                            %span.label.label-info No school for scholars or staff
                        %table.table.table-bordered.table-striped.table-hover
                            %thead
                                %th{:width => "175px"} Day
                                %th Description
                            %tbody
                                -#
                                    %tr
                                        %td June 17, 2013
                                        %td
                                            Lottery -
                                            %a{:href => "#lottery-info", :data => {:toggle => "modal"}} Click for lottery information
                                %tr.success
                                    %td August 5-19, 2013
                                    %td Staff PD
                                %tr
                                    %td August 21, 2013
                                    %td First day of school for Class 1
                                %tr
                                    %td August 22, 2013
                                    %td First day of school for Class 2
                                %tr
                                    %td August 23, 2013
                                    %td First day of school for Class 3
                                %tr
                                    %td August 26 - 30, 2013
                                    %td Half day for all scholars
                                %tr.info
                                    %td September 2, 2013
                                    %td Labor Day
                                %tr
                                    %td September 3, 2013
                                    %td First full day
                                %tr.success
                                    %td October 4, 2013
                                    %td Staff PD - No school for scholars
                                %tr.success
                                    %td October 16, 2013
                                    %td Staff PD - No school for scholars
                                %tr.info
                                    %td October 17 - 18, 2013
                                    %td MEA
                                %tr.success
                                    %td November 15, 2013
                                    %td Staff PD - No school for scholars
                                %tr
                                    %td November 21, 2013
                                    %td
                                        %b Parent-Teacher conferences (12pm early dismissal)
                                %tr.info
                                    %td November 27 - 29, 2013
                                    %td Thanksgiving
                                %tr.info
                                    %td December 23, 2013
                                    %td Winter break begins
                                %tr
                                    %td January 2, 2014
                                    %td School resumes
                                %tr.info
                                    %td January 20, 2014
                                    %td MLK
                                %tr.success
                                    %td January 31, 2014
                                    %td Staff PD - No school for scholars
                                %tr.info
                                    %td February 14-18, 2014
                                    %td Mid-winter recess
                                %tr.success
                                    %td March 21, 2014
                                    %td Staff PD - No school for scholars
                                %tr.info
                                    %td March 24 - 28, 2014
                                    %td Spring break
                                %tr
                                    %td April 2, 2014
                                    %td
                                        %b Parent-Teacher conferences (12pm early dismissal)
                                %tr.success
                                    %td April 11, 2014
                                    %td Staff PD - No school for scholars
                                %tr.success
                                    %td April 21, 2014
                                    %td Staff PD - No school for scholars
                                %tr.info
                                    %td May 26, 2014
                                    %td Memorial Day
                                %tr
                                    %td June 19, 2014
                                    %td Last day of school for scholars - stepping up
                    .span4
                        %img{:src => asset_path('student_life/calendar.jpg')}
#lottery-info.modal.hide.fade
    .modal-header
        %button.close{:type => "button", :data => {:dismiss => "modal"}} x
        %h3 Lottery Information
    .modal-body
        %p Kindergarten admission to Prodeo Academy is determined through a randomized lottery if the number of applicants exceeds the number of openings. A pre-determined number of spaces is determined each year based on the school’s capacity.
        %p The admission process is conducted through a randomized selection protocol until all lottery selections have been confirmed, at which point a wait list is maintained. The wait list is then in effect for the duration of the school year.
        %p Once the wait list has been exhausted, open seats are filled on a first-come first-served basis.
