.container
    .row
        .span12#panel-main
            .content
                %h2 A Typical Day
                %table.table.table-bordered.table-striped.table-hover
                    %thead
                        %th{:width => "110px"} Time
                        %th{:width => "110px"} Length
                        %th Activit
                    %tbody
                        %tr
                            %td 7:10 – 7:40
                            %td 30 minutes
                            %td Arrival/Breakfast
                        %tr
                            %td 7:40 – 7:55
                            %td 15 minutes
                            %td Morning Meeting – A joyful celebration and preparation for learning
                        %tr
                            %td 7:55 – 8:10
                            %td 15 minutes
                            %td Read Aloud
                        %tr
                            %td 8:10 – 8:30
                            %td 20 minutes
                            %td Reading Workshop
                        %tr
                            %td 8:30 – 9:15
                            %td 45 minutes
                            %td Reading Block I (Small Group Activities and Instruction/5 Students)
                        %tr
                            %td 9:15 – 10:00
                            %td 45 minutes
                            %td Tutoring (Small Group Activities and Instruction/5 Students)
                        %tr
                            %td 10:00 – 10:10
                            %td 15 minutes
                            %td Snack/Recess
                        %tr
                            %td 10:10 – 10:40
                            %td 30 minutes
                            %td Reading Block II (Smaller Group Instruction)
                        %tr
                            %td 10:40 – 11:10
                            %td 30 minutes
                            %td Reading Computer Program
                        %tr
                            %td 11:10 - 1:10
                            %td 40 minutes x 3
                            %td Science/Social Studies, Lunch, Specials (Music/Art/Fitness/Spanish)
                        %tr
                            %td 1:10 – 1:40
                            %td 30 minutes
                            %td Math Meeting/Story Problems
                        %tr
                            %td 1:40 – 2:10
                            %td 30 minutes
                            %td Small Group Math Lessons
                        %tr
                            %td 2:10 – 2:40
                            %td 30 minutes
                            %td Math Computer Program
                        %tr
                            %td 2:40 – 3:20
                            %td 40 minutes
                            %td Writing
                        %tr
                            %td 3:20 – 3:40
                            %td 20 minutes
                            %td Choice Time
                        %tr
                            %td 3:45
                            %td
                            %td Dismissal
