.container
    .row
        .span12#panel-main
            .content
                %h2 A Typical Day
                %table.table.table-bordered.table-striped.table-hover
                    %thead
                        %th{:width => "100px"} Time
                        %th{:width => "75px"} Length
                        %th Activity
                    %tbody
                        %tr
                            %td 7:00 – 7:30
                            %td 30 minutes
                            %td Arrival/Breakfast
                        %tr
                            %td 7:30 – 7:45
                            %td 15 minutes
                            %td Morning Meeting – a joyful celebration and preparation for learning
                        %tr
                            %td 7:45 – 8:15
                            %td 30 minutes
                            %td Read Aloud
                        %tr
                            %td 8:15 – 9:15
                            %td 1 hour
                            %td Reading Block I (Small Group Activities and Instruction)
                        %tr
                            %td 9:15 – 10:15
                            %td 1 hour
                            %td Reading/Tutors (Small Group Activities and Instruction)
                        %tr
                            %td 10:15 – 10:30
                            %td 15 minutes
                            %td Snack/Recess
                        %tr
                            %td 10:30 – 11:30
                            %td 1 hour
                            %td Reading Block II (Small Group Activities and Instruction)
                        %tr
                            %td 11:30 – 12:00
                            %td 30 minutes
                            %td Math/Tutors (Small Group)
                        %tr
                            %td 12:00 – 12:30
                            %td 30 minutes
                            %td Lunch/Recess
                        %tr
                            %td 12:30 – 1:00
                            %td 30 minutes
                            %td PAL - Physically Active Learning (Small Group)
                        %tr
                            %td 1:00 – 1:30
                            %td 30 minutes
                            %td Math
                        %tr
                            %td 1:30 – 2:00
                            %td 30 minutes
                            %td Math (Small Group / 10 Students)
                        %tr
                            %td 2:00 – 2:15
                            %td 15 minutes
                            %td Recess
                        %tr
                            %td 2:15 – 3:00
                            %td 45 minutes
                            %td Science/Social Studies
                        %tr
                            %td 3:00 – 3:45
                            %td 45 minutes
                            %td Specials:  Music/Art/Dance/Fitness/Spanish
                        %tr
                            %td 3:45
                            %td
                            %td Dismissal
