.container
    .row
        .span12.panel#panel-main
            .content
                %h2 A Typical Day
                %table.table.table-bordered.table-striped.table-hover
                    %thead
                        %th{:width => "110px"} Time
                        %th{:width => "110px"} Length
                        %th Activity
                    %tbody
                        %tr
                            %td 7:10 – 7:35
                            %td 25 minutes
                            %td Arrival/Breakfast
                        %tr
                            %td 7:35 – 7:40
                            %td 5 minutes
                            %td Whole School Morning Chant
                        %tr
                            %td 7:40 – 8:05
                            %td 25 minutes
                            %td Read Aloud
                        %tr
                            %td 8:05 – 8:45
                            %td 30 minutes
                            %td Phonics
                        %tr
                            %td 8:45 – 9:25
                            %td 40 minutes
                            %td Reading Block 1/Tutors
                        %tr
                            %td 9:25 – 10:05
                            %td 40 minutes
                            %td Reading Block 2/Tutors
                        %tr
                            %td 10:05 – 10:30
                            %td 25 minutes
                            %td Phonics
                        %tr
                            %td 10:30 – 11:10
                            %td 40 minutes
                            %td Reading Comprehension/Fitness
                        %tr
                            %td 11:10 – 11:30
                            %td 20 minutes
                            %td Core
                        %tr
                            %td 11:30 - 12:10
                            %td 40 minutes
                            %td Lunch/Recess
                        %tr
                            %td 12:10 - 12:30
                            %td 20 minutes
                            %td Math Meeting
                        %tr
                            %td 12:30 – 12:50
                            %td 20 minutes
                            %td Math Block 1
                        %tr
                            %td 12:50 – 1:10
                            %td 20 minutes
                            %td Math Block 2
                        %tr
                            %td 1:10 – 1:30
                            %td 20 minutes
                            %td Math Block 3
                        %tr
                            %td 1:30 – 2:10
                            %td 40 minutes
                            %td Writing
                        %tr
                            %td 2:10
                            %td
                            %td Dismissal
                %img{:src => asset_path('student_life/typical_day.jpg')}
