.container
    .row
        .span12#panel-main
            .content
                %h2 Meaningful and Measurable Results
                .row
                    .span7
                        %p.lead Prodeo Academy is entering its first year of operation.
                        %p.lead Our academic results will be posted and our staff will hold itself accountable for all results.
                        %p.lead Measurable results are the primary way we will define success.
                    .span5
                        %img{:src => "/assets/placeholders/two.jpg"}
