---
title: Board
layout: default
---

<div class='container'>
    <div class='row'>
        <div class='span12 panel' id='panel-main'>
            <div class='content'>
                <h2>Board of Directors</h2>
                <p>Our board of directors is deeply committed to the mission of Prodeo Academy. In addition to their passion for education, they bring a wide range of experience in the areas of finance, human resources, law, consulting, development, governance, and community relations.</p>
                <div class='row-fluid'>
                    <div class='span12'>
                        <ul class='thumbnails board'>
                            {% include person.html name="Rick Campion" role="Co-Founder, Executive Director, Prodeo Academy - Ex-Officio" %}
                            {% include person.html name="Rachel Nelson" role="Parent Member" %}
                            {% include person.html name="Emily Jones" role="Teacher at Prodeo Academy" %}
                            {% include person.html name="Jim Horn" role="Chief Human Resources Officer, Ulteig" %}
                        </ul>
                        <ul class='thumbnails board'>
                            {% include person.html name="Jeff Klinefelter" role="Board Treasurer, Managing Director, Head of Global Equities at Piper Jaffray" %}
                            {% include person.html name="Lewis Remele" role="Board Secretary<br>Shareholder, Bassford Remele" %}
                            {% include person.html name="Maggie Skrypek" role="Board Chair<br>Research Scientist, Amherst H. Wilder Foundation" %}
                        </ul>
                    </div>
                </div>
                <h2>Community Engagment Committee</h2>
                <div class='row-fluid'>
                    <div class='span12'>
                        <ul class='thumbnails board'>
                            {% include person.html name="Kerry Givens" role="Executive Director, South Minneapolis YMCA" no_email=true %}
                            {% include person.html name="Neda Kellogg" role="Founder and CEO, Project Diva" no_email=true %}
                        </ul>
                    </div>
                </div>
                <h3>Board Meetings</h3>
                <div class='row-fluid'>
                    <div class='span6'>
                        <p>
                            The Board of Directors meets the 4th Wednesday of August, October, January, March and June at
                            <i>5:30pm.</i>
                        </p>
                        <p>
                            The Finance Committee meets the 3rd Tuesday of every month at
                            <i>5:30pm.</i>
                        </p>
                        <p>
                            The Governance Committee will meet 11/7/17, 1/16/18, 3/7/18, 7/17/18, 9/18/18, and 11/13/18 at
                            <i>3pm.</i>
                        </p>
                    </div>
                    <div class='span6'>
                        <p>
                            The Executive Committee will meet the 3rd Tuesday of Sept, November, February, April, and July at
                            <i>9am.</i>
                        </p>
                        <p>
                            All meetings are held at Prodeo Academy.
                        </p>
                        <p>
                            The upcoming agenda, all board minutes, most recent audited financial statements, policies, and our Authorizer's Annual Report can be viewed on
                            <a href='https://drive.google.com/folderview?id=0B9F_q1nOg-J-ZDdzQVF3WWRRQU0&amp;usp=sharing#grid' target='_blank'>Google Drive</a>.
                        </p>
                    </div>
                </div>
                <div class='row-fluid'>
                    <div class='span12'>
                        <hr>
                        <p>
                            <small>Minnesota law requires that all chartered schools be authorized by an organization approved by the commissioner of education to be an authorizer.</small>
                        </p>
                        <p>
                            <small>Prodeo Academy's authorizer is Innovative Quality Schools (IQS) which was approved as an authorizer on December 1, 2010. Contact IQS:</small>
                        </p>
                        <p>
                            <small>
                                Milo Cutter
                                <br>
                                Innovative Quality Schools, (IQS)
                                <br>
                                P.O. Box 40219
                                <br>
                                St. Paul, MN 55104
                                <br>
                                http://www.iqsmn.org
                                <br>
                                651-234-0900
                                <br>
                                mcutter@iqsmn.org
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
