---
title: Board
layout: default
---

<div class='container'>
    <div class='row'>
        <div class='span12 panel' id='panel-main'>
            <div class='content'>
                <h2>Board of Directors</h2>
                <p>Our board of directors has a wide variety of experience and expertise. Of our 10 members, six have significant experience in education and academics. We also have several board members with strong experience in finance, development, governance, and community relations.</p>
                <div class='row-fluid'>
                    <div class='span12'>
                        <ul class='thumbnails board'>
                            {% include person.html name="Rick Campion" role="Co-Founder, Executive Director, Prodeo Academy - Ex-Officio" %}
                            {% include person.html name="Mark Chronister" role="Board Chair, Partner at Templeton Laird" %}
                            {% include person.html name="Rachel Nelson" role="Parent Member" %}
                            {% include person.html name="Skye Hoekstra" role="Teacher, Prodeo Academy" %}
                        </ul>
                        <ul class='thumbnails board'>
                            {% include person.html name="Doug Jaeger" role="Vice Chair, CEO Ulteig" %}
                            {% include person.html name="Jeff Klinefelter" role="Board Treasurer, Managing Director, Head of Global Equities at Piper Jaffray" %}
                            {% include person.html name="Lewis Remele" role="Shareholder, Bassford Remele" %}
                            {% include person.html name="Maggie Skrypek" role="Board Secretary" %}
                        </ul>
                    </div>
                </div>
                <h2>Community Engagment Committe</h2>
                <div class='row-fluid'>
                    <div class='span12'>
                        <ul class='thumbnails board'>
                            {% include person.html name="Kerry Givens" role="Executive Director, South Minneapolis YMCA" no_email=true %}
                            {% include person.html name="Neda Kellogg" role="Founder and CEO, Project Diva" no_email=true %}
                        </ul>
                    </div>
                </div>
                <h3>Board Meetings</h3>
                <div class='row-fluid'>
                    <div class='span6'>
                        <p>
                            Our board meets on the fourth Wednesday of every other month (January, March, May, July, September, and November) at
                            <i>5:30pm.</i>
                        </p>
                        <p>
                            Our mission committee meets on the third Wednesday of every month at
                            <i>5:30pm.</i>
                        </p>
                        <p>
                            Our finance committee meets on the third Tuesday of every month at
                            <i>5:30pm.</i>
                        </p>
                    </div>
                    <div class='span6'>
                        <p>
                            Out governance committee meets on the second Tuesday of every other month (February, April, June, August, October, December) at
                            <i>11:30am.</i>
                        </p>
                        <p>
                            All meetings are held at Prodeo Academy at
                            <i>620 Olson Memorial Highway, Mpls, MN 55411.</i>
                        </p>
                        <p>
                            The upcoming agenda, all board minutes, most recent audited financial statements, and our Authorizer's Annual Report can be viewed on
                            <a href='https://drive.google.com/folderview?id=0B9F_q1nOg-J-ZDdzQVF3WWRRQU0&amp;usp=sharing#grid' target='_blank'>Google Drive</a>.
                        </p>
                    </div>
                </div>
                <div class='row-fluid'>
                    <div class='span12'>
                        <hr>
                        <p>
                            <small>Minnesota law requires that all chartered schools be authorized by an organization approved by the commissioner of education to be an authorizer.</small>
                        </p>
                        <p>
                            <small>Prodeo Academy's authorizer is Innovative Quality Schools (IQS) which was approved as an authorizer on December 1, 2010. Contact IQS:</small>
                        </p>
                        <p>
                            <small>
                                Milo Cutter
                                <br>
                                Innovative Quality Schools, (IQS)
                                <br>
                                P.O. Box 40219
                                <br>
                                St. Paul, MN 55104
                                <br>
                                http://www.iqsmn.org
                                <br>
                                651-234-0900
                                <br>
                                mcutter@iqsmn.org
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
