---
title: Staff
layout: default

---
<div class="container">
    <div class="row">
        <div class="span12 panel" id="panel-main">
            <div class="content">
                <h3>Administration</h3>
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="thumbnails">
                            {% include person.html name="Megan Miller" role="Principal" %}
                            {% include person.html name="James Ewer" role="Principal in Residence" %}
                            {% include person.html name="Emily Jones" role="Instructional Coach" %}
                            {% include person.html name="Mary Barsness" role="Director of Admissions and Family Liason" %}
                               </ul>
                        <ul class="thumbnails">
                            {% include person.html name="Jason Burns" role="Director of Operations" %}
                        </ul>
                                            </div>
                </div>
                <h3>Pre-Kindergarten</h3>
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="thumbnails">
                            {% include person.html name="Annie Farley" role="Pre Kindergarten Teacher/Grade Team Lead" %}
                            {% include person.html name="Billette Slaughter" role="Educational Assistant" %}
                            {% include person.html name="Christina Harris" role="Pre Kindergarten Teacher Assistant" %}
                            {% include person.html name="Yvette Morales" role="Pre Kindergarten Teacher" %}
                           
                        </ul>
                        <ul class="thumbnails">
                             {% include person.html name="Allie Evered" role="Pre Kindergarten Teacher" %}
                            {% include person.html name="Kelly Brooks" role="Pre Kindergarten Teacher" %}
                        </ul>
                    </div>
                </div>
                <h3>Kindergarten</h3>
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="thumbnails">
                            {% include person.html name="Gus Gleiter" role="Kindergarten Teacher/ Grade Team Lead" %}
                            {% include person.html name="Emma Lindley" role="Kindergarten Teacher" %}
                            {% include person.html name="Jennifer Christensen" role="Kindergarten Teacher" %}
                            {% include person.html name="Colin Alsbro" role="Kindergarten Teacher" %}
                        </ul>
                          </div>
                </div>
                <h3>First Grade</h3>
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="thumbnails">
                            {% include person.html name="Alex McCoy" role="{% include person.html name="Alex McCoy" role="Classroom Teacher" %}" %}
                            {% include person.html name="Katherine Laughlin" role="First Grade Teacher" %}
                            {% include person.html name="Aaron Ziman" role="Educational Assistant" %}
                            {% include person.html name="Mai Vang" role="First Grade Teacher" %}
                        </ul>
                        <ul class="thumbnails">
                            {% include person.html name="Mariya Krumm" role="First Grade Teacher" %}
                            {% include person.html name="Levi Martin" role="Educational Assistant" %}
                            {% include person.html name="Lindsey Scribner" role="Educational Assistant" %}
                        </ul>
                    </div>
                </div>
                <h3>Second Grade</h3>
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="thumbnails">
                            {% include person.html name="Cortney Criter" role="Second Grade Teacher/Grade Team Lead" %}
                            {% include person.html name="Bria Grayer" role="Educational Assistant" %}
                            {% include person.html name="Kelsey Sahutske" role="Second Grade Teacher" %}
                            {% include person.html name="Rachel Sand" role="Second Grade Teacher" %}
                        </ul>
                        <ul class="thumbnails">
                            {% include person.html name="Sarah Ehlen" role="Second Grade Teacher" %}
                            {% include person.html name="Keisha Holmes" role="Educational Assistant" %}
                        </ul>
                    </div>
                </div>

                <h3>Specials</h3>
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="thumbnails">
                            {% include person.html name="Helen Peightal" role="Art Teacher" %}
                            {% include person.html name="John Busch" role="Fitness Teacher" %}
                        </ul>
                    </div>
                </div>

                <h3>Learning Support</h3>
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="thumbnails">
                            {% include person.html name="Ann Bexell" role="Special Education Teacher" %}
                            {% include person.html name="Ashley Willeck" role="Math Specialist" %}
                            {% include person.html name="Jay Diaferio" role="In-house Substitute" %}
                            {% include person.html name="Kalimi Baxter" role="Special Education Teacher" %}
                        </ul>
                        <ul class="thumbnails">
                            {% include person.html name="Melissa Lindquist" role="English Language Coordinator and English Language Development Teacher" %}
                            {% include person.html name="Sarah Brunner" role="Special Education Teacher" %}
                            {% include person.html name="Veda Chokshi" role="Reading Specialist" %}
                            {% include person.html name="Taqwa Dardery" role="Social Work" %}
                    </div>
                </div>
                <h3>Student Culture</h3>
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="thumbnails">
                            {% include person.html name="Jeff Stensrud" role="Behavior Specialist" %} 
                            {% include person.html name="Blake Pederson" role="Recess Student Supervisor" %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
