---
title: Staff
layout: default

---
<div class="container">
    <div class="row">
        <div class="span12 panel" id="panel-main">
            <div class="content">
                <h3>Network</h3>
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="thumbnails">
                             {% include person.html name="Chancey Anderson" role="Co-Founder/CEO School Development" %}
                            {% include person.html name="Rick Campion" role="Co-Founder/CEO Strategy" %}
                             {% include person.html name="Michael Kurhajetz" role="VP of Operations and Compliance" %}
                            {% include person.html name="Erica Jaastad" role="Director of Curriculum and Professional Development" %}
                               </ul>
                        <ul class="thumbnails">
                      {% include person.html name="Laura Durden" role="Advancement Manager" %}
           {% include person.html name="Edwin Cruz" role="Director of Talent and Student Recruitment" %}
                            {% include person.html name="Lahens St. Fleur" role="Community Outreach Manager" %}
                              {% include person.html name="Anna Wagner" role="Volunteer Coordinator" %}
                                </ul>
                        <ul class="thumbnails">

                             {% include person.html name="Kelly Mulvehill" role="Mindfulness/Wellness Director" %}
                                {% include person.html name="Mandy Lindstrom" role="Early Childhood Coordinator" %}
                                {% include person.html name="Adi Perez" role="Office Manager" %}
                            {% include person.html name="Octavia McLaurin" role="Office Assistant" %}
                              </ul>
                        <ul class="thumbnails">

                             {% include person.html name="Jasmine Sanchez" role="Daycare Teacher" %}
                             {% include person.html name="Erika Arrivillaga" role="Daycare Teacher" %}
                            
                        </ul>
 
                    </div>
                </div>
              
            </div>
        </div>
    </div>
</div>
