---
title: Staff
layout: default

---
<div class="container">
    <div class="row">
        <div class="span12 panel" id="panel-main">
            <div class="content">
                <h3>Administration</h3>
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="thumbnails">
                            {% include person.html name="Liz Ferguson" role="Principal" %}
                            {% include person.html name="Sylvester Carver" role="Dean in Residence" %}
                            {% include person.html name="Cory Voss" role="Senior Operations Manager" %}
                            {% include person.html name="Kateri Lee" role="Community Liason" %}
                        </ul>
                    
                    </div>
                </div>
                <h3>Kindergarten</h3>
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="thumbnails">
                            {% include person.html name="Mercedes Lee" role="Kindergarten Teacher/ Grade Team Lead" %}
                            {% include person.html name="Chrissy Dornon" role="Kindergarten Teacher" %}
                            {% include person.html name="Erin Engelhardt" role="Kindergarten Teacher" %}
                        </ul>
                    </div>
                </div>
                <h3>First Grade</h3>
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="thumbnails">
                            {% include person.html name="Kathleen Boland" role="First Grade Teacher" %}

                        </ul>

                    </div>
                </div>
                <h3>Specials</h3>
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="thumbnails">
                            {% include person.html name="Stephanie Kimble" role="Yoga Teacher" %}
                            {% include person.html name="Ryan Thornton" role="World Languages" %}
                        </ul>
 
                    </div>
                </div>
                <h3>Learning Support</h3>
                <div class="row-fluid">
                    <div class="span12">
                        <ul class="thumbnails">
                            {% include person.html name="Allen Mengis" role="Special Education Teacher" %}
                            {% include person.html name="Laquita Davis" role="Fellow" %}
                            {% include person.html name="Julia Marksue" role="Educational Assistant" %}

                        </ul>

                    </div>
                </div>
             
            </div>
        </div>
    </div>
</div>
