---
title: Staff
layout: default
---

<div class='container'>
    <div class='row'>
        <div class='span12 panel' id='panel-main'>
            <div class='content'>
                <h3>Administration</h3>
                <div class='row-fluid'>
                    <div class='span12'>
                        <ul class='thumbnails'>
                            {% include person.html name="Rick Campion" role="Executive Director" %}
                            {% include person.html name="Chancey Anderson" role="Principal" %}
                            {% include person.html name="Erica Jaastad" role="Academic Dean" %}
                            {% include person.html name="Rachel Hemsey" role="Director of Operations" %}
                        </ul>
                        <ul class='thumbnails'>
                            {% include person.html name="Mary Barsness" role="Director of Student Services" %}
                            {% include person.html name="Paris Kyles" role="Dean of Students" %}
                            {% include person.html name="Skye Hoekstra" role="Dean of Teaching" %}
                            {% include person.html name="Liz Ferguson" role="Assistant Principal" %}
                        </ul>
                    </div>
                </div>
                <h3>Pre-Kindergarten</h3>
                <div class='row-fluid'>
                    <div class='span12'>
                        <ul class='thumbnails'>
                            {% include person.html name="Mandy Lindstrom" role="Teacher/Lead" %}
                        </ul>
                    </div>
                </div>
                <h3>Kindergarten</h3>
                <div class='row-fluid'>
                    <div class='span12'>
                        <ul class='thumbnails'>
                            {% include person.html name="Sara Gonzalez" role="Teacher" %}
                            {% include person.html name="Jennifer Christensen" role="Teacher" %}
                            {% include person.html name="Kallie Fitzloff" role="Teacher" %}
                        </ul>
                    </div>
                </div>
                <h3>First Grade</h3>
                <div class='row-fluid'>
                    <div class='span12'>
                        <ul class='thumbnails'>
                            {% include person.html name="Sarah Ehlen" role="Teacher" %}
                            {% include person.html name="Emily Jones" role="Teacher / Grade Team Chair" %}
                            {% include person.html name="Alex McCoy" role="Teacher" %}
                            {% include person.html name="Amanda Laurent" role="Teacher" %}
                        </ul>
                    </div>
                </div>
                <h3>Second Grade</h3>
                <div class='row-fluid'>
                    <div class='span12'>
                        <ul class='thumbnails'>
                            {% include person.html name="Ryan Noshay" role="Teacher" %}
                            {% include person.html name="Ashley Denaway" role="Teacher / Grade Team Chair" %}
                            {% include person.html name="Rachel Dietsch" role="Teacher" %}
                        </ul>
                    </div>
                </div>
                <h3>Third Grade</h3>
                <div class='row-fluid'>
                    <div class='span12'>
                        <ul class='thumbnails'>
                            {% include person.html name="Emily Hoeppner" role="Teacher" %}
                            {% include person.html name="Chad Ferguson" role="Teacher" %}
                            {% include person.html name="Nicole Black" role="Teacher" %}
                            {% include person.html name="Will McDuffie" role="Teacher" %}
                        </ul>
                    </div>
                </div>
                <h3>Specials</h3>
                <div class='row-fluid'>
                    <div class='span12'>
                        <ul class='thumbnails'>
                            {% include person.html name="Sean Mayberry" role="Fitness Teacher" %}
                            {% include person.html name="Edward Schneider" role="Music Teacher" %}
                        </ul>
                    </div>
                </div>
                <h3>Classroom Support</h3>
                <div class='row-fluid'>
                    <div class='span12'>
                        <ul class='thumbnails'>
                            {% include person.html name="Emma Lindley" role="Educational Assistant" %}
                            {% include person.html name="Shanequa Cook" role="Educational Assistant" %}
                            {% include person.html name="Bella Troy" role="Educational Assistant" %}
                            {% include person.html name="Sylvester Carver" role="Educational Assistant" %}
                        </ul>
                        <ul class='thumbnails'>
                            {% include person.html name="Lisl von Steinbergs" role="Educational Assistant" %}
                            {% include person.html name="Libby Sanders" role="Educational Assistant" %}
                            {% include person.html name="Armani Wade" role="Educational Assistant" %}
                            {% include person.html name="Laquita Davis" role="Educational Assistant" %}
                        </ul>
                        <ul class='thumbnails'>
                            {% include person.html name="Aaron Ziman" role="Educational Assistant" %}
                            {% include person.html name="Sara Olson" role="Educational Assistant / Co-Teacher" %}
                            {% include person.html name="Andy Pokel" role="Educational Assistant / Co-Teacher" %}
                        </ul>
                    </div>
                </div>
                <h3>Behavior Support</h3>
                <div class='row-fluid'>
                    <div class='span12'>
                        <ul class='thumbnails'>
                            {% include person.html name="Jeff Stensrud" role="Behavioral Specialist" %}
                        </ul>
                    </div>
                </div>
                <h3>Learning Support</h3>
                <div class='row-fluid'>
                    <div class='span12'>
                        <ul class='thumbnails'>
                            {% include person.html name="Melissa Lindquist" role="English Language Learner Teacher" %}
                            {% include person.html name="Stephanie Tracy" role="Learning Support Teacher" %}
                            {% include person.html name="Taqwa Dardery" role="Social Worker" %}
                            {% include person.html name="Ann Bexell" role="Learning Support Teacher" %}
                        </ul>
                        <ul class='thumbnails'>
                            {% include person.html name="Caroline Becker" role="Special Ed Teacher" %}
                            {% include person.html name="Rina Lang" role="Learning Support Teacher" %}
                            {% include person.html name="Philip Troy" role="Special Ed Teacher" %}
                        </ul>
                    </div>
                </div>
                <h3>Support Staff</h3>
                <div class='row-fluid'>
                    <div class='span12'>
                        <ul class='thumbnails'>
                            {% include person.html name="Adi Perez" role="Office Manager" %}
                            {% include person.html name="Ahmisa Cuadros" role="Administrative Assistant" %}
                            {% include person.html name="Kelly Mulvehill" role="Mindfulness and Yoga Teacher / External Relations" %}
                            {% include person.html name="Anita Kimaiga" role="Tutoring Coordinator/New Alliance Fellow" %}
                        </ul>
                        <ul class='thumbnails'>
                            {% include person.html name="Carla Esquibel" role="HHM Coordinator" %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
