.container
    .row
        .span4#panel-left
            .content
                %h3 Sidebar Content
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .span8#panel-right
            .content
                %h2 Under Construction
                %img.pull-right{:src => placehold(350, 125)}
                %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ullamcorper, magna ac ullamcorper auctor, justo mauris ultrices magna, condimentum malesuada nulla odio a dolor. Suspendisse gravida faucibus purus non dapibus. Cras a libero neque. Vivamus vestibulum vulputate pulvinar. Nulla ligula nisi, auctor sed eleifend quis, sagittis sit amet erat. Sed congue gravida sapien eget accumsan. Integer dignissim velit ac mi laoreet congue. Nulla facilisi. Ut sodales pellentesque vestibulum. Mauris vel orci mauris, sed consectetur velit.
                %img.pull-left{:src => placehold(300, 100)}
                %p Quisque lorem elit, tincidunt at facilisis at, viverra ut lectus. Nam ut nibh turpis, nec fringilla risus. Donec varius nunc ac justo egestas ut venenatis nulla auctor. Ut semper placerat luctus. Cras convallis, velit sed sodales cursus, leo magna dapibus lectus, a gravida turpis metus bibendum diam. Nullam tellus risus, tincidunt sed aliquet id, pharetra et libero. Pellentesque eu venenatis quam. Nullam sed mi at dui semper feugiat eu vel ligula. Nulla mauris massa, pharetra a pretium ut, interdum id nunc. Integer cursus justo non augue dignissim sit amet aliquet metus porttitor. In in euismod eros.
                %p Etiam nulla leo, mattis in congue sed, interdum vitae nulla. Donec nulla dui, iaculis nec tincidunt in, accumsan vitae nisl. Cras laoreet tincidunt sem porttitor rutrum. In in turpis justo. Nunc scelerisque tortor eu dui laoreet sit amet rhoncus tortor iaculis. In hac habitasse platea dictumst. Donec dapibus elit at augue sagittis faucibus.