@import url("http://fonts.googleapis.com/css?family=Asap:400,700");

* {
    font-family: 'Asap', sans-serif;
}

body {
    background-color: #fffef6;
}

#top {
    margin: 0;
    background-color: #fff;
    box-shadow: 0 6px 6px -3px rgba(0, 0, 0, 0.3);
    z-index: -1;
    position: absolute;
    height: 190px;
    width: 100%;
}

#header {
    padding-top: 20px;
}

#nav {
    margin-top: 0px;
    font-size: 15px;
    z-index: 1000;
    margin-bottom: 10px;
}

ul.dropdown-menu {
    background-color: #922628;
}

ul.dropdown-menu li a {
    color: #fff;
}

.nav-tabs > li > a, .nav-pills > li > a {
    margin-right: 0;
}

.nav-tabs > li > a, .nav-pills > li > a {
    padding: 9px 8px;
}

.dropdown-submenu > a::after {
    display: none;
}

.dropdown-submenu > .dropdown-menu {
    left: auto;
    top: 39px;
    z-index: 1001;
    overflow: visible;
}

.nav-tabs > li > a, .nav-pills > li > a {
    color: #2a326f;
}

.dropdown-toggle .caret,
.nav .dropdown-toggle .caret {
    border-top-color: #922628;
    border-bottom-color: #922628;
}

.dropdown-menu li > a:hover,
.dropdown-menu li > a:focus,
.dropdown-submenu:hover > a,
.nav > li > a:hover,
ul.dropdown-menu li a:hover {
    color: #000;
    background-color: #eee;
    background-image: none;
}

.dropdown-submenu > .dropdown-menu > li {
    margin-bottom: 3px;
}

.dropdown-menu li.divider {
    border: none;
    border-top: 1px dotted white;
    background: none;
    margin: 3px 0;
    height: 0px;
}

.carousel {
    margin-bottom: 30px;
	box-shadow: 0 5px 10px -5px #000;
	position: relative;
	z-index: 3;
}

.carousel .container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-left: 40px;
    width: 900px;
	z-index: 600;
}

.carousel .item {
    height: 400px;
	z-index: 600;
}
.carousel img {
    min-width: 100%;
    min-height: 400px;
	z-index: 600;
}

.carousel-caption {
    background-color: transparent;
    position: static;
    max-width: 550px;
    padding: 0 20px;
    margin-bottom: 100px;
}

.carousel-caption h1 {
    font-size: 60px;
}

.carousel-caption h1,
.carousel-caption p.lead {
    margin: 0;
    line-height: 1.25;
    color: #fff;
    text-shadow: 0 2px 10px rgba(0,0,0,.8);
}

.carousel-caption .btn {
    margin-top: 10px;
}

.center {
    text-align: center;
}

.hero-unit > h1 {
    font-size: 50px;
}

#social {
    padding-bottom: 0;
    height: 30px;
    margin-top: 80px;
}

#social #twitter {
    font-size: 1px;
}

#social #facebook {
    max-width: 200px;
    margin-right: 10px;
}

footer {
    background-color: #922628;
}

footer, footer a {
    color: #fff;
    padding: 10px;
}

footer a {
    text-decoration: underline;
}

footer a:hover {
    color: #ccc;
}

.dropup .btn-large .caret {
    margin-top: 8px;
    margin-left: 3px;
    border-width: 7px 5px;
}

/* *
   * PANELS
   *
   *
   */
#panel-left {
    background-color: #f7f7f7;
    z-index: -2;
    position: relative;
    margin-top: 45px;
    min-height: 150px;
}

#panel-left .content {
    margin-left: 15px;
    margin-right: 20px;
}

#panel-right {
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
    margin-left: 0;
    padding-left: 20px;
    min-height: 400px;
    z-index: 1000;
    position: relative;
}

#panel-right .content {
    margin-right: 20px;
}

#panel-right img {
    margin: 15px;
}

#panel-right img.pull-left {
    margin-left: 0;
}

#panel-right img.pull-right {
    margin-right: 0;
}

/* *
   * INDEX
   *
   */
#index .hero-unit {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 40px 0;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25), 0 2px 10px rgba(0,68,204,.3)
}

#index li {
    list-style: none;
}

#index .hero-unit h3 {
    color: #2a326f;
    font-size: 30px;
}

#index .btn-group {
    text-align: left;
}

#index .hero-unit .btn {
    #text-transform: uppercase;
}