%li.span3
    .thumbnail
        %img{:src => asset_path("board/#{urlify(name)}.jpg"), :width => "175px"}
        .caption
            %h4= name.html_safe
            - if local_assigns.has_key? :role
                %small= role
            - if local_assigns.has_key? :email
                - if email
                    %small
                        - email = email_for(name)
                        %a{:href => "mailto:#{email}"}= truncate email, :length => 26

