.thumbnail
    %img{:src => asset_path("board/#{urlify(name)}.png"), :width => "175px"}
    .caption
        %h4= name
        - unless role.nil?
            %small= role
            %br
        %small
            - email = email(name)
            %a{:href => "mailto:#{email}"}= truncate email, :length => 26

