.container
    .row
        .span12.panel#panel-main
            .content
                %h2 Our Advisory Council
                %p Our advisory council members have been instrumental resources for gathering ideas and gaining advice throughout our entire start-up process. We are thankful for their support in this way.
                .row-fluid
                    .span12
                        %ul.thumbnails.council
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Carol Bruess, Ph.D.
                                        %small Professor and Director, Family Studies, University of St. Thomas
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Aisha Eady
                                        %small Communications Director, Osseo Area Schools
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Pat Kelly
                                        %small Partner, Fredrickson & Byron
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 John Lawlor
                                        %small Founder and Principal, The Lawlor Group
                        %br
                        %ul.thumbnails.council
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Karl O. Benson
                                        %small Manager at Octane LLC, Founder of Foundation 4 Excellence
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Phyllis Sloan
                                        %small Executive Director, La Creche Child Care Center, North Minneapolis
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Mike Opat
                                        %small Chair, Hennepin County Commissioners
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Jeff Peterson
                                        %small Director of Strategy and Innovation, General Mills
                        %br
                        %ul.thumbnails.council
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Brenda Ray
                                        %small Parent, North Minneapolis
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Maggie Skrypek
                                        %small Research Scientist, Wilder Foundation
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Kerry Givens
                                        %small Executive Director, South Minneapolis YMCA
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Neda Kellogg
                                        %small Founder and CEO, Project Diva
                        %br
                        %ul.thumbnails.council
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Vidal Guzm&aacute;n
                                        %small Senior Manager at Public Radio International
