.container
    .row
        .span4.panel#panel-left
            .content
                %img{:src => asset_path('about/partners.jpg')}
        .span8.panel#panel-right
            .content
                %h2 Our Partners
                %p
                    %i Thank you to all the individuals, corporations, and foundations that have contributed services and support.
                .row-fluid
                    .span5
                        = render :partial => "partners", :locals => {:title => "Support from Individuals", :partners => ProdeoacademyOrg::Application.config.individuals}
                        %br
                        = render :partial => "partners", :locals => {:title => "Tutoring Partners", :partners => ProdeoacademyOrg::Application.config.tutors}
                    .span7
                        = render :partial => "partners", :locals => {:title => "Support from Coporations and Foundations", :partners => ProdeoacademyOrg::Application.config.corporations}
