.container
    .row
        .span4#panel-left
            .content
                %h3 Title?
                %img{:src => "//placehold.it/275x75"}
                %br
                %br
                %img{:src => "//placehold.it/275x100"}
                %br
                %br
                %img{:src => "//placehold.it/275x75"}
        .span8#panel-right
            .content
                %h2 Our Partners
                %p.lead We are currently partnering with several preschools in order to help bridge the gap and provide our students with a smoother transition from preschool to kindergarten.
                %p We are also currently partnering with several universities who have provided resources, volunteers, and tutors.
                %p Furthermore, community resources have been an important connection.
                %p We look to continue to partnership that will help support our students and families and that will help us close the gap.
            .center
                %img{:src => "//placehold.it/100x75"}
                %img{:src => "//placehold.it/100x75"}
                %img{:src => "//placehold.it/100x75"}
                %img{:src => "//placehold.it/100x75"}
                %img{:src => "//placehold.it/100x75"}
                %img{:src => "//placehold.it/100x75"}
                %img{:src => "//placehold.it/100x75"}
                %img{:src => "//placehold.it/100x75"}
