.container
    .row
        .span12#panel-main
            .content
                %h2 Co-Founders
                .row
                    .span3
                        .thumbnail
                            %img{:src => "/assets/board/rick_campion.png"}
                            .caption
                                %h4 Rick Campion
                                %p Executive Director
                    .span9
                        %p.lead Rick has experience in developing successful schools for children in Minneapolis. He was a member of the founding leadership team of Cristo Rey Jesuit High School in the Phillips neighborhood of South Minneapolis and the founding board of directors of Minneapolis College Preparatory. He has 14 years of experience as a teacher, and eight years in school administration.
                        %p.mini-lead.text-info rickcampion@prodeoacademy.org
                        %p.mini-lead.text-info (612) 559-4881
                %br
                .row
                    .span9
                        %p.lead Chancey has taught for ten years at the elementary, middle, and high school levels and has developed school-wide and network-wide curricula at each level. She taught for several years for the Cristo Rey Network in Minneapolis and for the Uncommon Schools Network in NY. She also has her Master's Degree as a Literacy Specialist from Columbia University.
                        %p.mini-lead.text-info chanceyanderson@prodeoacademy.org
                        %p.mini-lead.text-info (347) 982-5061

                    .span3
                        .thumbnail
                            %img{:src => "/assets/board/chancey_anderson.png"}
                            .caption
                                %h4 Chancey Anderson
                                %p Principal
                %br
                %h3 Classroom Teachers
                .row
                    .span12
                        %ul.thumbnails
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Rachel Hemsey
                                        %small Kindergarten Teacher/Leadership Team Member
                                        %br
                                        %small
                                            %a{:href => "mailto:rachelhemsey@prodeoacademy.org"} rachelhemsey@prodeoacademy.org
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Mandy Lindstrom
                                        %small Kindergarten Teacher
                                        %br
                                        %small
                                            %a{:href => "mailto:mandylindstrom@prodeoacademy.org"} mandylindstrom@prodeoacademy.org
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Ashley Willeck
                                        %small Kindergarten Teacher
                                        %br
                                        %small
                                            %a{:href => "mailto:ashleywilleck@prodeoacademy.org"} ashleywilleck@prodeoacademy.org

                %h3 Core and Electives
                .row
                    .span12
                        %ul.thumbnails
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Sam Reeves
                                        %small Fine Arts Coordinator
                                        %br
                                        %small
                                            %a{:href => "mailto:samreeves@prodeoacademy.org"} samreeves@prodeoacademy.org
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Jordan Sallis
                                        %small Fitness Coordinator
                                        %br
                                        %small
                                            %a{:href => "mailto:jordansallis@prodeoacademy.org"} jordansallis@prodeoacademy.org
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Camille Sypura
                                        %small Core Teacher
                                        %br
                                        %small
                                            %a{:href => "mailto:camillesypura@prodeoacademy.org"} camillesypura@prodeoacademy.org

                %h3 External Relations and Literacy Support
                .row
                    .span12
                        %ul.thumbnails
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Kelly Mulvehill
                                        %small External Relations Director,
                                        %br
                                        %small Literacy and Mindfulness Teacher
                                        %br
                                        %small
                                            %a{:href => "mailto:kellymulvehill@prodeoacademy.org"} kellymulvehill@prodeoacademy.org
                %h3 Office and Academic Support
                .row
                    .span12
                        %ul.thumbnails
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Neda Kellogg
                                        %small Office Manager
                                        %br
                                        %small
                                            %a{:href => "mailto:nedakellogg@prodeoacademy.org"} nedakellogg@prodeoacademy.org
                            %li.span3
                                .thumbnail
                                    .caption
                                        %h4 Ady Perez
                                        %small Office and Teaching Assistant
                                        %br
                                        %small
                                            %a{:href => "mailto:adyperez@prodeoacademy.org"} adyperez@prodeoacademy.org
