.container
    .row
        .span4.panel#panel-left
            .content
                %img{:src => asset_path('contact/tutor.jpg')}
        .span8.panel#panel-right
            .content
                %h2 Apply to Tutor
                %p.lead Thank you for your interest in becoming a tutor at Prodeo Academy!

                %p At Prodeo Academy, tutors help our scholars change the trajectory of their lives. Our scholars begin each school year significantly below the national average in reading and math, but perform at or above the average by the year’s end.

                %p Tutors join us in providing compassionate, individualized, and results-driven instruction to each of our scholars, reflecting an understanding of and commitment to their unique educational and personal needs.  Our scholars have made remarkable yearly gains since our school’s 2013 opening, averaging 1.5 grade levels of growth each year.

                %h4 How You Can Help
                %p Every Monday through Thursday we need 15 volunteers for two-hour (8:35am - 10:35am) tutoring spots. Commitments range from every day, to once per week, to once per month when part of an organization’s tutoring team.  Tutors/tutor teams work with the same group of students each week to develop meaningful and productive relationships.

                %h4 Mastering Skills
                %p Tutors at Prodeo Academy help kindergarten through second grade students master fundamental reading, writing, and math skills.

                %h4 Support
                %p All tutors receive explicit instructions, resources, and strategies for working with our scholars and subject matter.

                %p Prodeo Academy also offers an instructional packet for corporations and organizations interested in coordinating and managing tutoring teams.

                %h4 Partners
                %p Our tutors consist of college students, grad school students, corporate teams, law firm teams, retirees, and other professionals. Many tutors from these and other organizations enjoy working as individuals and in teams to help our scholars succeed:
                .row-fluid
                    .span4
                        %ul
                            %li Target
                            %li Medtronic
                            %li Stinson Leonard Street
                            %li Bassford Remele
                    .span4
                        %ul
                            %li Ryan Companies
                            %li PwC
                            %li Ulteig
                            %li University of St. Thomas
                    .span4
                        %ul
                            %li University of Minnesota
                            %li St. Catherine University
                            %li Bethel University

                %h4 Contact
                %p Please contact Prodeo Academy with questions or to sign up for tutoring:
                %p
                    %b Anita Kimaiga
                %p
                    %a{:href => "mailto:anitakimaiga@prodeoacademy.org"} anitakimaiga@prodeoacademy.org
