.container
    .row
        .span4#panel-left
            .content
                %img{:src => "//placehold.it/275x75"}
                %br
                %br
                %img{:src => "//placehold.it/275x175"}
        .span8#panel-right
            .content
                %h2 Apply to Tutor
                %p.lead
                    All of the tutors at Prodeo Academy will be trained and will work collaboratively with specific teachers to support learning.
                    %br
                    %br
                    If you are interested in becoming a tutor at Prodeo Academy, we invite you to contact Chancey Anderson, Principal.
                    %br
                    %br
                    %p
                        %b Chancy Anderson, Principal
                    %p.text-info chanceyanderson@prodeoacademy.org
                    %p.text-info (347) 982-5061