.container
    .row
        .span4#panel-left
            .content
                %h3 Title?
                %img{:src => "//placehold.it/275x125"}
                %br
                %br
                %img{:src => "//placehold.it/275x125"}
        .span8#panel-right
            .content
                %h2 Apply to Teach
                %p.lead
                    If you are a qualified teacher who would like to join our inspiring, engaged and results-driven community, we invite you to contact Chancey Anderson, Principal.
                    %br
                    %br
                    %p
                        %b Chancy Anderson, Principal
                    %p.text-info chanceyanderson@prodeoacademy.org
                    %p.text-info (347) 982-5061