.container
    .row
        .span4.panel#panel-left
            .content
                %img{:src => asset_path('contact/teach.jpg')}
        .span8.panel#panel-right
            .content
                %h2 Apply to Teach
                %p.lead Thank you for your interest in becoming a teacher at Prodeo Academy!
                %p We are currently hiring for the following roles:
                %ul
                    %li
                        %a{:href => asset_path("jobs/educational_assistant.pdf"), :target => :blank} Educational Assistant
                %br

                %p If you are interested in applying, please fill out our application.
                %ul
                    %li
                        %a{:href => asset_path("prodeo-academy-application.docx"), :target => :blank} Prodeo Academy Application.docx
                        (Microsoft Word)
                    %li
                        %a{:href => asset_path("prodeo-academy-application.pdf"), :target => :blank} Prodeo Academy Application.pdf
                        (PDF)
                %br

                %p Please direct questions and completed applications to Rachel Hemsey.
                %p
                    %b Rachel Hemsey
                    %br
                    %a{:href => "mailto:rachelhemsey@prodeoacademy.org"} rachelhemsey@prodeoacademy.org
                    %br
                    %a{:href => "tel:7632059950"} (763) 205-9950
