.container
    .row
        .span4.panel#panel-left
            .content
                %img{:src => asset_path('contact/teach.jpg')}
        .span8.panel#panel-right
            .content
                %h2 Apply to Teach
                %p.lead Thank you for your interest in becoming a teacher at Prodeo Academy!
                %p We are currently hiring for the following roles:
                %ul
                    %li 1 Fitness Teacher
                    %li 1 Specialist Teacher (Art, Music, or Dance)
                    %li 1 Recess Attendant, Tutor, and Reading Corps
                    %li 16 Classroom Teachers (Kindergarten – 3rd Grade)
                %br

                %p If you are interested in applying, please fill out our application.
                %ul
                    %li
                        %a{:href => asset_path("prodeo-academy-application.docx"), :target => :blank} Prodeo Academy Application.docx
                        (Microsoft Word)
                    %li
                        %a{:href => asset_path("prodeo-academy-application.pdf"), :target => :blank} Prodeo Academy Application.pdf
                        (PDF)
                %br

                %p Please direct questions and completed applications to Jermain Davis.
                %p
                    %b Jermain Davis
                %p
                    %a{:href => "mailto:jermaindavis@prodeoacademy.org"} jermaindavis@prodeoacademy.org
                %p
                    %a{:href => "tel:6518155843"} (651) 815-5843
