.container
    .row
        .span4.panel#panel-left
            .content
                %h3 Sidebar Content
                %p
        .span8.panel#panel-right
            .content
                %h2 Enroll Your Child
                %p This page isn't ready yet!
