.container
    .row
        .span4#panel-left
            .content
                %h3 Get in Touch
                %p To schedule a visit, please contact:
                %blockquote
                    %p Rick Campion
                    %span rickcampion@prodeoacademy.org
                    %span 612.559.4881
        .span8#panel-right
            .content
                %h2 Schedule a Visit
                .row
                    .span12
                        %iframe{:frameborder => "0", :height => "400", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=First+Lutheran+Church+of+Columbia+Heights&aq=&sll=45.041894,-93.236634&sspn=0.00865,0.013357&ie=UTF8&hq=First+Lutheran+Church+of&hnear=Columbia+Heights,+Anoka,+Minnesota&t=m&fll=45.04172,-93.236804&fspn=0.0173,0.026715&st=108572218519324911980&rq=1&ev=zi&split=1&ll=45.049707,-93.236783&spn=0.0173,0.026715&z=14&iwloc=A&cid=16300811330954277974&output=embed", :width => "580"}
                        %br

