.container
    .row
        .span4#panel-left
            .content
                %img{:src => placehold(275, 175)}
                %br
                %br
                %img{:src => placehold(275, 75)}
        .span8#panel-right
            .content
                %h2 Volunteer
                %p.lead If you are inspired by our mission to close the achievement gap and create a culture of learning and support, we would love to hear about it.
                %p.lead If you have time and talent to share, please contact Rick Campion, Executive Director.
                %br
                %br
                %p
                    %b Rick Campion, Executive Director
                %p.text-info rickcampion@prodeoacademy.org
                %p.text-info (612) 559-4881