.container
    .carousel.slide
        .carousel-inner
            .container
                .carousel-caption
                    %a{:href => "#youtube", :data => {:toggle => "modal"}}
                        %img.youtube.pull-left{:src => asset_path('youtube.png'), :rel => "tooltip", :title => "Watch our video", :data => {:position => "top"}}
                    %h1 College Starts Here
                    %a.btn.btn-large.btn-inverse{:href => "/about/who_we_are"} Enroll your child today &raquo;
            - (1..16).to_a.shuffle.each_with_index do |i, j|
                .item{:class => j == 0 ? 'active' : ''}
                    %img{:src => asset_path("index/#{i}.jpg")}
.container
    .row.center#index
        .span4
            .hero-unit#families
                %h3 College Starts Here
                .btn-group.dropup
                    %a.btn.btn-large.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
                        Enroll Your Child
                        %span.caret
                    %ul.dropdown-menu
                        %li
                            %a{:href => asset_path('handout_two.pdf'), :target => "_blank"} Why choose Prodeo Academy?
                        %li.divider
                        %li
                            %a{:href => "#stay-in-touch", :data => {:toggle => "modal"}} Stay in Touch
        .span4
            .hero-unit#donors
                %h3 Close the Gap
                .btn-group.dropup
                    %a.btn.btn-large.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
                        Volunteer / Career
                        %span.caret
                    %ul.dropdown-menu
                        %li
                            %a{:href => asset_path('handout_one.pdf'), :target => "_blank"} Why choose Prodeo Academy?
                        %li.divider
                        %li
                            %a{:href => asset_path('handout_four.pdf'), :target => "_blank"} Who we are looking for
                        %li.divider
                        %li
                            %a{:href => "/contact/apply_to_teach"} Apply to Teach
                        %li.divider
                        %li
                            %a{:href => "/contact/apply_to_tutor"} Apply to Tutor
                        %li.divider
                        %li
                            %a{:href => "/contact/volunteer"} Volunteer
        .span4
            .hero-unit#tutors
                %h3 Build the Future
                .btn-group.dropup
                    %a.btn.btn-large{:href => "#donate", :data => {:toggle => "modal"}} Donate Today
#stay-in-touch.modal.hide.fade
    .modal-header
        %button.close{:type => "button", :data => {:dismiss => "modal"}} x
        %h3 Stay in Touch
    .modal-body
        %p.lead If you’re interested in learning more about our inspiring community, feel free to contact us.
        %br
        %p
            %b Jermain Davis
        %p
            %a{:href => "mailto:jermaindavis@prodeoacademy.org"} jermaindavis@prodeoacademy.org
        %p
            %a{:href => "tel:6518155843"} (651) 815-5843

#youtube.modal.hide.fade
    .modal-header
        %button.close#stop-video{:type => "button", :data => {:dismiss => "modal"}} x
        %h3 Video
    .modal-body
        %iframe#video{:width => "530px", :height => "300px", :ssrc => "//player.vimeo.com/video/96627422?autoplay=1", :frameborder => "0", :allowfullscreen => true}
#donate.modal.hide.fade
    .modal-header
        %button.close#stop-video{:type => "button", :data => {:dismiss => "modal"}} x
        %h3 Donate Today
    .modal-body
        .row-fluid
            .span6
                %p.lead Donate online
                %br
                .center
                    %a{:href => "http://www.razoo.com/story/Education-Prodeo-Academy", :target => "_blank"}
                        %span Click to donate online
                        %img{:src => asset_path('givemn.png')}
            .span6
                %p.lead Donate by mail
                %p To make a contribution by mail, send a check to the address below.
                %p
                    Attention: Rick Campion
                    %br
                    Prodeo Academy
                    %br
                    1555 40th Ave NE
                    %br
                    Minneapolis, MN  55421
                %p Federal Tax ID:  80-0743744
