.container
    .carousel.slide
        .carousel-inner
            .container
                .carousel-caption
                    %h1 College Starts Here
                    %a.btn.btn-large.btn-inverse{:href => "/about/who_we_are"} Enroll your child today &raquo;
            - (1..17).to_a.shuffle.each_with_index do |i, j|
                .item{:class => j == 0 ? 'active' : ''}
                    %img{:src => asset_path("index/#{i}.jpg")}
.container
    .row.center#index
        .span4
            .hero-unit#families
                %h3 College Starts Here
                .btn-group.dropup
                    %a.btn.btn-large.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
                        Enroll Your Child
                        %span.caret
                    %ul.dropdown-menu
                        %li
                            %a{:href => asset_path('handout_two.pdf'), :target => "_blank"} Why choose Prodeo Academy?
                        %li.divider
                        %li
                            %a{:href => "#stay-in-touch", :data => {:toggle => "modal"}} Stay in Touch
        .span4
            .hero-unit#donors
                %h3 Close the Gap
                .btn-group.dropup
                    %a.btn.btn-large.dropdown-toggle{:href => "#", :data => {:toggle => "dropdown"}}
                        Volunteer / Career
                        %span.caret
                    %ul.dropdown-menu
                        %li
                            %a{:href => asset_path('handout_one.pdf'), :target => "_blank"} Why choose Prodeo Academy?
                        %li.divider
                        %li
                            %a{:href => asset_path('handout_four.pdf'), :target => "_blank"} Who we are looking for
                        %li.divider
                        %li
                            %a{:href => "/contact/apply_to_teach"} Apply to Teach
                        %li.divider
                        %li
                            %a{:href => "/contact/apply_to_tutor"} Apply to Tutor
                        %li.divider
                        %li
                            %a{:href => "/contact/volunteer"} Volunteer
        .span4
            .hero-unit#tutors
                %h3 Build the Future
                .btn-group.dropup
                    %a.btn.btn-large{:href => "http://givemn.razoo.com/story/Education-Prodeo-Academy", :target => "_blank"}
                        Donate Today
#stay-in-touch.modal.hide.fade
    .modal-header
        %button.close{:type => "button", :data => {:dismiss => "modal"}} x
        %h3 Stay in Touch
    .modal-body
        %p.lead If you’re interested in learning more about our inspiring community, feel free to contact us.
        %br
        %p
            %b Rick Campion, Executive Director
            %p.text-info rickcampion@prodeoacademy.org
            %p.text-info (612) 559-4881
        %br
        %p
            %b Chancey Anderson, Principal
            %p.text-info chanceyanderson@prodeoacademy.org
            %p.text-info (347) 982-5061
